<section class="home">
  <div class="wrapper">
      <h2>Não deixes o <span style="color: #ff0000">COVID </span>afetar o teu rendimento escolar!<br><br>Explicações online para todas as tuas disciplinas, 5º ao 12º ano</h2>
  </div>
</section>

<!--About section-->

<div class="about">
  <div class="jumbotron">
    <div class="narrow text-center" >
        <div class="col-12">
            <h2 class="heading x">Sobre Nós</h2>
            <div class="heading-underline"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="feature">
                    <i class="fas fa-certificate fa-3x" ></i>
                    <h3 class="notranslate">Experiência</h3>
                    <p>O nosso centro de explicações já conta com vários anos de experiência</p>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="feature">
                        <i class="fas fa-list-ol fa-3x" ></i>
                        <h3 class="notranslate">Diversidade</h3>
                        <p>No nosso website pode encontrar todas as disciplinas do plano de ensino português</p>
                    </div>
                </div>
            <div class="col-md-3">
                     <div class="feature">
                            <i class="fas fa-user-tie fa-3x" ></i>
                            <h3>Profissionalismo</h3>
                            <p>Todos os nossos explicadores são profissionais qualificados</p>
                    </div>
                 </div>
            <div class="col-md-3">
                        <div class="feature">
                            <i class="fas fa-user-graduate fa-3x" ></i>
                            <h3>Acompanhamento</h3>
                            <p>Pode acompanhar o progresso do seu encarregado de educação e comprovar o seu proveito escolar</p>
                        </div>
                     </div>
            <div class="col-md-12">
            <div class="feature">
                <i class="fas fa-hand-holding-usd fa-3x" ></i>
                <h3>Flexibilidade</h3>
                <p>Vários planos de pagamento disponíveis</p>
            </div>
          </div>
        </div> <!--fim das colunas-->
    </div> <!--Fim class narrow-->
</div>
<!--Fim Jumbotron bootstrap-->
  </div>

<!--disciplines section-->
  <div class="pagamento">
    <div class="jumbotron pagamentos">
      <div class="narrow text-center" >
          <div class="col-12">
              <h2 class="heading x">Disciplinas</h2>
              <div class="heading-underline"></div>
          </div>
      </div>
          <div class="row text-center">
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox">
                <div class="service-icon">
                  <span><i class="fa fa-calculator"></i></span>
                </div>
                <h3 class="title">Matemática</h3>
                <p class="description">Todas as matemáticas! De 5º a 12º ano, desde Macs, a Matemática A.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox red">
                <div class="service-icon">
                  <span><i class="fa fa-flask"></i></span>
                </div>
                <h3 class="title">Física-Química</h3>
                <p class="description">Física-Química para todos os anos e gostos! Do 5º ao 12º ano.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox blue">
                <div class="service-icon">
                  <span><i class="fa fa-feather-alt"></i></span>
                </div>
                <h3 class="title">Biologia/Ciências</h3>
                <p class="description">Desde Ciências da Natureza a Biologia avançada de 12º ano.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox green">
                <div class="service-icon">
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <h3 class="title">Português</h3>
                <p class="description">Bom português para todas as idades e planos de ensino.</p>
              </div>
            </div>
          </div>
          <div class="row secondrowdisc text-center">
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox">
                <div class="service-icon">
                  <span><i class="fa fa-language"></i></span>
                </div>
                <h3 class="title">Inglês</h3>
                <p class="description">Torna-te um inglês nato! Estejas no 5º ou 12º ano.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox red">
                <div class="service-icon">
                  <span><i class="fa fa-globe"></i></span>
                </div>
                <h3 class="title">Geografia</h3>
                <p class="description">Geografia do mais baixo ao mais elevado nível. Viaja pelo Mundo!</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox blue">
                <div class="service-icon">
                  <span><i class="fa fa-history"></i></span>
                </div>
                <h3 class="title">História</h3>
                <p class="description">História é história, não muda! Mas garantimos que se adequa ao teu ano de escolaridade.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="serviceBox green">
                <div class="service-icon">
                  <span><i class="fa fa-eye"></i></span>
                </div>
                <h3 class="title">Filosofia</h3>
                <p class="description">Para os seres mais pensantes temos também explicações de Filosofia!</p>
              </div>
            </div>

          </div> <!--fim das colunas-->
      </div> <!--Fim class narrow-->
  </div>
  <!--Fim Jumbotron bootstrap-->

  <!--Review section-->

<div class="review">
  <div class="jumbotron">
    <div class="narrow text-center" >
        <div class="col-12">
            <h2 class="heading x">Feedback dos clientes</h2>
            <div class="heading-underline"></div>
        </div>
      </div> <!--Fim class narrow-->
        <div class="row reviews text-center">
            <div class="col-md-3 text-center">
              <figure class="snip1192">
                <blockquote>O centro físico de explicações ExplicaJa tem provas dadas do seu excelente serviço. Não tenho quaisquer dúvidas de que este novo formato online manterá a mesma qualidade de tutoria, bem como o apoio e atenção dada aos educandos </blockquote>
                <div class="author">
                  <img src="https://randomuser.me/portraits/women/87.jpg" alt=""/>
                  <h5>Carla Santos <span> Mãe de dois filhos</span></h5>
                </div>
              </figure>
            </div>
            <div class="col-md-3 text-center">
              <figure class="snip1192">
                <blockquote>Tenho total confiança neste novo formato de explicações por parte desta empresa. Na altura do confinamento o meu filho teve explicações online, a consistência manteve-se e a adaptação foi extremamente rápida. Só faltava terem uma app!</blockquote>
                <div class="author">
                  <img src="https://randomuser.me/portraits/men/13.jpg" alt="sq-sample1"/>
                  <h5>Dr. Carlos Freitas<span> Pai de um adolescente</span></h5>
                </div>
              </figure>
            </div>
            <div class="col-md-3 text-center">
              <figure class="snip1192">
                <blockquote>Sendo mãe de uma criança com necessidades especiais, só tenho a agradecer o apoio dado por parte da ExplicaJa. Foram capazes de quebrar essa barreira e aproximar o aproveitamento escolar do meu educando, ao aproveitamento dos restantes colegas.  </blockquote>
                <div class="author">
                  <img src="https://randomuser.me/portraits/women/86.jpg" alt="sq-sample1"/>
                  <h5>Beatriz Fonseca<span> Mãe de uma criança com necessidades especiais</span></h5>
                </div>
              </figure>
            </div>
            <div class="col-md-3 text-center">
              <figure class="snip1192">
                <blockquote>Ambos os meus filhos saíram ao pai, ou seja não adoravam estudar! Felizmente a ExplicaJa auxiliou no processo de os reaproximar dos estudos e inclusive melhorou ativamente e significativamente os seus aproveitamentos. Amos os meus educandos pertencem a quadros de honra! </blockquote>
                <div class="author">
                  <img src="https://randomuser.me/portraits/men/7.jpg" alt="sq-sample1"/>
                  <h5>Ricardo Gomes<span> Pai de dois filhos</span></h5>
                </div>
              </figure>
            </div>

        </div> <!--fim das colunas-->

</div>
<!--Fim Jumbotron bootstrap-->
  </div>


<!--Payment section-->
  <div class="pagamento">
    <div class="jumbotron pagamentos">
      <div class="narrow text-center" >
          <div class="col-12">
              <h2 class="heading x">Pagamento</h2>
              <div class="heading-underline"></div>
          </div>
      </div>
          <div class="row text-center">
            <div class="col-md-4 col-sm-6">
              <div class="pricingTable10">
                  <div class="pricingTable-header">
                      <h3 class="heading">Pagamento por Aula</h3>
                      <span class="price-value">
                          <span class="currency">€</span> {{Aula}}
                          <span class="month"></span>
                      </span>
                  </div>
                  <div class="pricing-content">
                      <ul>
                          <li>Paga pelas aulas que usufrui</li>
                          <li>Apenas paga se efetivamente usufruir so nosso serviço</li>
                          <li>Bom plano de pagamento para quem necessita de explicações para exame</li>
                          <li>Todas as disciplinas custam o mesmo valor</li>
                          <li>Pagamento Presencial ou Multibanco</li>
                          <li>Faturas automatizadas e presentes na sua conta de utilizador</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="pricingTable10">
                <div class="pricingTable-header">
                    <h3 class="heading">Pagamento Mensal</h3>
                    <span class="price-value">
                        <span class="currency">€</span> {{Mensal}}
                    </span>
                </div>
                <div class="pricing-content">
                    <ul>
                        <li>Preço listado é por disciplina</li>
                        <li>Pagamento ao final de cada mês</li>
                        <li>Paga apenas os meses que usufrui de explicações</li>
                        <li>Todas as disciplinas custam o mesmo valor</li>
                        <li>Pagamento Presencial ou Multibanco</li>
                        <li>Faturas automatizadas e presentes na sua conta de utilizador</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="pricingTable10">
              <div class="pricingTable-header">
                  <h3 class="heading">Pagamento Anual</h3>
                  <span class="price-value">
                      <span class="currency">€</span> {{Anual}}
                  </span>
              </div>
              <div class="pricing-content">
                  <ul>
                      <li>Preço listado é por disciplina</li>
                      <li>Pagamento adiantado que vale um ano de explicações</li>
                      <li>Pode usufruir livremente das disciplinas em que se inscreve</li>
                      <li>Todas as disciplinas custam o mesmo valor</li>
                      <li>Pagamento Presencial ou Multibanco</li>
                      <li>Faturas automatizadas e presentes na sua conta de utilizador</li>
                  </ul>
              </div>
          </div>
      </div>
          </div> <!--fim das colunas-->
      </div> <!--Fim class narrow-->
  </div>
  <!--Fim Jumbotron bootstrap-->

  <!--Footer contacts section-->
  <div class="narrow text-center">
    <div class="contactos text-center">
      <h4 class="infos"><a><i class="fab fa-facebook"></i></a><a>Facebook</a></h4>
      <h4 class="infos"><a><i class="fas fa-phone fa-1x"></i></a><a>+351 291 000 000</a></h4>
      <h4 class="infos"><a><i class="fas fa-at fa-1x"></i></a><a>explicaja@onmicrosoft.com</a></h4>
    </div>
  </div>
