<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-spinner color="warn" *ngIf="isLoading"></mat-spinner>

  <mat-card class="box" *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title>Criar Conta</mat-card-title>
    </mat-card-header>

    <mat-tab-group color="warn" class="tabs">
      <mat-tab label="Encarregado">
        <form (submit)="encarregadoSignup(encarregadoForm)" #encarregadoForm="ngForm" class="example-form">

        <mat-card-content>
          <mat-form-field color ="warn" class="example-full-width">
            <input matInput type="text" name="encarregadonome" ngModel #encarregadoNome="ngModel" required placeholder="Nome">
            <mat-error *ngIf="encarregadoNome.invalid">Por favor introduza o seu nome.</mat-error>
          </mat-form-field>

          <mat-form-field color ="warn" class="example-full-width">
            <input matInput type="text" name="encarregadosobrenome" ngModel #encarregadoSobrenome="ngModel" required  placeholder="Sobrenome">
            <mat-error *ngIf="encarregadoSobrenome.invalid">Por favor introduza o seu sobrenome.</mat-error>
          </mat-form-field>

          <mat-form-field color ="warn" class="example-full-width">
            <input matInput type="text" name="encarregadoNIF" ngModel #encarregadoNIF="ngModel" minlength="9" maxlength="9" required  placeholder="NIF">
            <mat-error *ngIf="encarregadoNIF.invalid">Por favor introduza um NIF válido (9 Caracteres).</mat-error>
          </mat-form-field>

          <mat-form-field color="warn" class="example-full-width">
            <mat-label>Método de Pagamento</mat-label>
            <select matNativeControl name="registaPagamento" ngModel #tipoPagamento="ngModel" required>
              <option value="Aula">Por Aula</option>
              <option value="Mensal">Mensal</option>
              <option value="Anual">Anual</option>
            </select>
            <mat-error *ngIf="tipoPagamento.invalid">Por favor selecione um método de pagamento.</mat-error>
          </mat-form-field>

          <mat-form-field color ="warn" class="example-full-width">
            <input matInput type="email" name="encarregadomail" ngModel placeholder="Email" #encarregadoMmail="ngModel" required email>
            <mat-error *ngIf="encarregadoMmail.invalid">Por favor introduza um endereço de email válido.</mat-error>
          </mat-form-field>

          <mat-form-field color ="warn" class="example-full-width">
            <input matInput type="password" name="encarregadopass" ngModel placeholder="Password" #encarregadoPassword="ngModel" required>
            <mat-error *ngIf="encarregadoPassword.invalid">Por favor introduza uma password.</mat-error>
          </mat-form-field>

        </mat-card-content>

        <button mat-raised-button color="warn" class="btn-block">Registar</button>

      </form>
     </mat-tab>
      <mat-tab label="Estudante">
        <form (submit)="estudanteSignup(estudanteForm)" #estudanteForm="ngForm" class="example-form">

          <mat-card-content>
            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="estudantenome" ngModel #estudanteNome="ngModel" required placeholder="Nome">
              <mat-error *ngIf="estudanteNome.invalid">Por favor introduza o seu nome.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="estudantesobrenome" ngModel #estudanteSobrenome="ngModel" required placeholder="Sobrenome">
              <mat-error *ngIf="estudanteSobrenome.invalid">Por favor introduza o seu sobrenome.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="estudanteNIF" ngModel #estudanteNIF="ngModel" minlength="9" maxlength="9" required  placeholder="NIF">
              <mat-error *ngIf="estudanteNIF.invalid">Por favor introduza um NIF válido (9 Caracteres).</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="paiNIF" ngModel #paiNIF="ngModel" minlength="9" maxlength="9" required placeholder="NIF do Encarregado">
              <mat-error *ngIf="paiNIF.invalid">Por favor introduza um NIF válido (9 Caracteres).</mat-error>
            </mat-form-field>

            <mat-form-field color="warn" class="example-full-width">
              <mat-label>Ano de Escolaridade</mat-label>
              <select matNativeControl name="anoEscolaridade" ngModel #anoEscolaridade="ngModel" required>
                <option value="5">5º</option>
                <option value="6">6º</option>
                <option value="7">7º</option>
                <option value="8">8º</option>
                <option value="9">9º</option>
                <option value="10">10º</option>
                <option value="11">11º</option>
                <option value="12">12º</option>
              </select>
              <mat-error *ngIf="anoEscolaridade.invalid">Por favor selecione o ano de escolaridade.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="email" name="estudantemail" ngModel #estudanteMmail="ngModel" required email placeholder="Email">
              <mat-error *ngIf="estudanteMmail.invalid">Por favor introduza um endereço de email válido.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="password" name="estudantepass" ngModel placeholder="Password" #estudantePassword="ngModel" required>
              <mat-error *ngIf="estudantePassword.invalid">Por favor introduza uma password.</mat-error>
            </mat-form-field>

          </mat-card-content>

          <button mat-raised-button color="warn" class="btn-block">Registar</button>

        </form>
      </mat-tab>
      <mat-tab label="Explicador">
        <form (submit)="explicadorSignup(explicadorForm)" #explicadorForm="ngForm" class="example-form">

          <mat-card-content>
            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="explicadornome" ngModel #explicadorNome="ngModel" required placeholder="Nome">
              <mat-error *ngIf="explicadorNome.invalid">Por favor introduza o seu nome.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="explicadorsobrenome" ngModel #explicadorSobrenome="ngModel" required placeholder="Sobrenome">
              <mat-error *ngIf="explicadorSobrenome.invalid">Por favor introduza o seu sobrenome.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="explicadorNIF" ngModel #explicadorNIF="ngModel" minlength="9" maxlength="9" required placeholder="NIF">
              <mat-error *ngIf="explicadorNIF.invalid">Por favor introduza um NIF válido (9 Caracteres).</mat-error>
            </mat-form-field>

            <mat-form-field color="warn" class="example-full-width">
              <mat-label>Disciplina a Lecionar</mat-label>
              <select matNativeControl name="Disciplina" ngModel #disciplina="ngModel" required>
                <option hidden selected>Selecione uma disciplina</option>
                <option *ngFor="let disciplina of disciplinas" value={{disciplina.idDisciplinas}}>{{disciplina['Nome']}} {{disciplina['Ano']}}º</option>
              </select>
              <mat-error *ngIf="disciplina.invalid">Por favor selecione uma disciplina.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="text" name="tokenativa" ngModel #tokenativa="ngModel" required placeholder="Token de Registo">
              <mat-error *ngIf="tokenativa.invalid">Introduza o Token que lhe foi fornecido.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="email" name="explicadormail" ngModel #explicadorMmail="ngModel" required email placeholder="Email">
              <mat-error *ngIf="explicadorMmail.invalid">Por favor introduza um endereço de email válido.</mat-error>
            </mat-form-field>

            <mat-form-field color ="warn" class="example-full-width">
              <input matInput type="password" name="explicadorpass" ngModel placeholder="Password" #explicadorPassword="ngModel" required placeholder="Password">
              <mat-error *ngIf="explicadorPassword.invalid">Por favor introduza uma password.</mat-error>
            </mat-form-field>

          </mat-card-content>

          <button mat-raised-button color="warn" class="btn-block">Registar</button>

        </form>
      </mat-tab>
    </mat-tab-group>
    <div class="changelink"><a routerLink="/login" style="text-align:center">Realizar Login</a></div>
  </mat-card>
</div>
