<div class="jumbotron">
  <div class="narrow text-center" >
      <div class="col-12">
          <h2 class="heading">RH Dashboard</h2>
          <div class="heading-underline"></div>
      </div>
  </div>
      <div class="row text-center">
        <mat-tab-group color="warn" mat-stretch-tabs class="rh_tab">
          <mat-tab label="Gerar Token Registo">
            <div class="Token">
              <mat-card class="box">
                <mat-card-header class="formhead">
                  <mat-card-title>Gerar Token</mat-card-title>
                </mat-card-header>
                  <div class="tokenbutton">
                    <button mat-raised-button color="warn" class="btn-block" (click)="geraToken()">Nova Token</button>
                    <p class="tokeninfo">Gerar Token para registo de novo Explicador</p>
                    <h2 *ngIf="tokenready">Nova Token Gerada:</h2>
                    <p *ngIf="tokenready">{{Token}}</p>
                  </div>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Explicadores">
              <div class="Explicadores">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                  <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.idPessoa}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.Nome}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Sobrenome">
                    <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.Sobrenome}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Disciplina">
                    <th mat-header-cell *matHeaderCellDef> Disciplina </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.Disciplina}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Ano">
                    <th mat-header-cell *matHeaderCellDef> Ano </th>
                    <td mat-cell class="text-left" *matCellDef="let element"> {{element.Ano}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
          </mat-tab>
          <mat-tab label="Eliminar Explicador">
            <div class="EliminaExplica">
              <mat-card class="box">
                <mat-card-header class="formhead">
                  <mat-card-title>Eliminar Explicador</mat-card-title>
                </mat-card-header>
                  <form (submit)="apagaExplicador(explicadorDelForm)" #explicadorDelForm="ngForm" class="example-form apagar">
                  <mat-card-content>
                    <mat-form-field color="warn" class="example-full-width">
                      <input matInput type="number" name="idexplicador" ngModel #idExplicador="ngModel" required placeholder="ID do Explicador">
                      <mat-error *ngIf="idExplicador.invalid">Por favor introduza o ID do Explicador.</mat-error>
                    </mat-form-field>
                  </mat-card-content>
                  <button mat-raised-button color="warn" class="btn-block">Eliminar</button>
                  <p class="eliminainfo">Visualize o ID na tab anterior</p>
                </form>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Feedback">
            <div class="Feedback">

              <form (submit)="getFeedbacks(FeedbackForm)" #FeedbackForm="ngForm" class="feedback-form">
                  <mat-form-field color="warn" class="example-full-width">
                    <input matInput type="number" name="idfeedbacks" ngModel #idFeedbacks="ngModel" required placeholder="ID do Explicador">
                    <mat-error *ngIf="idFeedbacks.invalid">Por favor introduza o ID do Explicador.</mat-error>
                  </mat-form-field>
                <button mat-raised-button color="warn" class="btn-block searchbutton">Procurar</button>
              </form>

              <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>


                <ng-container matColumnDef="Feedback">
                  <th mat-header-cell *matHeaderCellDef> Feedback </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.Feedback}} </td>
                </ng-container>

                <ng-container matColumnDef="IDExplicador">
                  <th mat-header-cell *matHeaderCellDef> ID Explicador </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.IDExplicador}} </td>
                </ng-container>


                <ng-container matColumnDef="IDExplicando">
                  <th mat-header-cell *matHeaderCellDef> ID Explicando </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.IDExplicando}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Avaliações">
            <div class="avaliações">

              <form (submit)="getAvaliacoes(AvaliacoesForm)" #AvaliacoesForm="ngForm" class="feedback-form">
                  <mat-form-field color="warn" class="example-full-width">
                    <input matInput type="number" name="idAvaliacoes" ngModel #idAvaliacoes="ngModel" required placeholder="ID do Explicador">
                    <mat-error *ngIf="idAvaliacoes.invalid">Por favor introduza o ID do Explicador.</mat-error>
                  </mat-form-field>
                <button mat-raised-button color="warn" class="btn-block searchbutton">Procurar</button>
              </form>

              <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">

                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID de Avaliação </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>

                <ng-container matColumnDef="IDExplicador">
                  <th mat-header-cell *matHeaderCellDef> ID Explicador </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.IDExplicador}} </td>
                </ng-container>


                <ng-container matColumnDef="Avaliacao">
                  <th mat-header-cell *matHeaderCellDef> Avaliação </th>
                  <td mat-cell class="text-left" *matCellDef="let element"> {{element.Avaliacao}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
              </table>
            </div>
          </mat-tab>
          <mat-tab label="Avaliar">
            <div class="avaliar">
              <mat-card class="box">
                <mat-card-header class="formhead">
                  <mat-card-title>Avaliar Explicador</mat-card-title>
                </mat-card-header>

                <form (submit)="avaliarExplicador(AvaliarForm)" #AvaliarForm="ngForm" class="example-form">

                  <mat-card-content>
                    <mat-form-field color ="warn" class="example-full-width">
                      <input matInput type="number" name="idExplicadorAval" ngModel #idExplicadorAval="ngModel" required placeholder="ID do Explicador">
                      <mat-error *ngIf="idExplicadorAval.invalid">Por favor introduza o ID do Explicador.</mat-error>
                    </mat-form-field>

                    <mat-form-field color="warn" class="example-full-width">
                      <mat-label>Avaliação</mat-label>
                      <select matNativeControl name="avaliacao" ngModel #Avaliacao="ngModel" required>
                        <option value="Negativa">Negativa</option>
                        <option value="Insuficiente">Insuficiente</option>
                        <option value="Razoável">Razoável</option>
                        <option value="Suficiente">Suficiente</option>
                        <option value="Excelente">Excelente</option>
                      </select>
                      <mat-error *ngIf="Avaliacao.invalid">Por favor selecione o ano de escolaridade.</mat-error>
                    </mat-form-field>

                  </mat-card-content>

                  <button mat-raised-button color="warn" class="btn-block">Registar</button>

                </form>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div> <!--fim das colunas-->

      <div class="row text-center">

      </div> <!--fim das colunas-->


</div>
<!--Fim Jumbotron bootstrap-->
