<div class="jumbotron">
  <div class="narrow text-center" >
      <div class="col-12">
          <h2 class="heading">{{User.Nome}} {{User.Sobrenome}}</h2>
          <div class="heading-underline"></div>
      </div>
  </div>
      <div class="row text-center">
        <mat-tab-group color="warn" mat-stretch-tabs class="rh_tab">
          <mat-tab label="Os Meus Educandos">
            <div class="row text-center">
                  <div class="col-12 titulodisciplina">
                    <h2 class="heading">Dados dos dos seus Educandos</h2>
                </div>
              </div>
            <div class="row text-center">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Educandos com registo no nosso centro de explicações
                    </mat-panel-title>
                    <mat-panel-description>
                      Clique para expandir e visualizar
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p *ngIf="filhos.length==0">Não Existem Educandos Registados</p>
                  <div class="availablediscip" *ngFor="let filho of filhos">
                    <h3 class="text-left distitulo" >ID: {{filho['idPessoa']}} - {{filho['Nome']}} {{filho['Sobrenome']}} - NIF: {{filho['NIF']}}</h3>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </div> <!--fim das colunas-->
            <div class="row text-center">
              <div class="col-12 titulodisciplina">
                <h2 class="heading">Progresso e Assiduidade dos seus Educandos</h2>
            </div>
          </div>
        <div class="row text-center">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aproveitamento dos seus educandos
                </mat-panel-title>
                <mat-panel-description>
                  Clique para expandir e visualizar
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p *ngIf="aproveitamento.length==0">Não Existem Educandos Registados</p>
              <div class="availablediscip" *ngFor="let dado of aproveitamento">
                <h3 class="text-left distitulo" >Disciplina: <b>{{dado['DiscNome']}}</b></h3>
                <h3 class="text-left distitulo" >{{dado['Nome']}} {{dado['Sobrenome']}} - Progresso: {{dado['Progresso']}} - Assiduidade: {{dado['Assiduidade']}}</h3>
              </div>

            </mat-expansion-panel>
          </mat-accordion>
        </div> <!--fim das colunas-->
          </mat-tab>
          <mat-tab label="Pagar Propinas">
            <div class="row text-center">
              <div class="col-12 titulodisciplina">
                <h2 class="heading">Tipo de Pagamento: {{metodopagamento}}</h2>
            </div>
          </div>
            <div class="row text-center">
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Propinas
                    </mat-panel-title>
                    <mat-panel-description>
                      Clique para expandir e visualizar
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p *ngIf="propinas.length==0">Não Existem Educandos Registados</p>
                  <div class="availablediscip" *ngFor="let dado of propinas">
                    <h3 class="text-left distitulo" ><b>{{dado['Nome']}} {{dado['Sobrenome']}} - ID Para Pagamento: {{dado['Pessoa_idPessoa']}}</b></h3>
                    <h3 class="text-left distitulo" >Valores em dívida para os diferentes métodos de pagamento:</h3>
                    <ul class="text-left">
                      <li class="text-left">Anual: {{dado['Propina_Anual']}}€</li>
                      <li class="text-left">Mensal: {{dado['Propina_Mensal']}}€</li>
                      <li class="text-left">Aula: {{dado['Propina_Aula']}}€</li>
                    </ul>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </div> <!--fim das colunas-->
            <div class="row text-center">
              <mat-card class="box">
                <mat-card-header class="formhead">
                  <mat-card-title>Dados de Faturação</mat-card-title>
                </mat-card-header>

                <form (submit)="realizarPagamento(PropinasForm)" #PropinasForm="ngForm" class="example-form">
                  <mat-card-content>

                    <mat-form-field color ="warn" class="example-full-width">
                      <input matInput type="text" name="idFilho" ngModel #idFilho="ngModel" required placeholder="ID de Pagamento">
                      <mat-error *ngIf="idFilho.invalid">Por favor introduza um ID válido.</mat-error>
                    </mat-form-field>
                    <mat-form-field color ="warn" class="example-full-width">
                      <input matInput type="text" name="NIF" ngModel #NIF="ngModel" minlength="9" maxlength="9" required placeholder="NIF">
                      <mat-error *ngIf="NIF.invalid">Por favor introduza um NIF válido (9 Caracteres).</mat-error>
                    </mat-form-field>

                  </mat-card-content>
                  <button mat-raised-button color="warn" class="btn-block">Pagar</button>
                </form>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Mudar Método de Pagamento">
            <div class="row text-center">
              <mat-card class="box">
                <mat-card-header class="formhead">
                  <mat-card-title>Mudar Método Pagamento</mat-card-title>
                </mat-card-header>

                <form (submit)="mudarmetodoPaga(mudaForm)" #mudaForm="ngForm" class="example-form">
                  <mat-card-content>

                    <mat-form-field color="warn" class="example-full-width">
                      <mat-label>Método de Pagamento</mat-label>
                      <select matNativeControl name="registaPagamento" ngModel #tipoPagamento="ngModel" required>
                        <option value="Aula">Por Aula</option>
                        <option value="Mensal">Mensal</option>
                        <option value="Anual">Anual</option>
                      </select>
                      <mat-error *ngIf="tipoPagamento.invalid">Por favor selecione um método de pagamento.</mat-error>
                    </mat-form-field>

                  </mat-card-content>
                  <button mat-raised-button color="warn" class="btn-block">Atualizar</button>
                </form>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div> <!--fim das colunas-->



</div>
<!--Fim Jumbotron bootstrap-->
