<div class="jumbotron">
    <div class="narrow text-center" >
        <div class="col-12">
            <h2 class="heading">CFO Dashboard</h2>
            <div class="heading-underline"></div>
        </div>
    </div>
        <div class="row text-center">
          <div class="Faturas">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell class="text-left" *matCellDef="let element"> {{element.ID}} </td>
              </ng-container>


              <ng-container matColumnDef="Data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell class="text-left" *matCellDef="let element"> {{element.Data}} </td>
              </ng-container>


              <ng-container matColumnDef="Valor">
                <th mat-header-cell *matHeaderCellDef> Valor(€) </th>
                <td mat-cell class="text-left" *matCellDef="let element"> {{element.Valor}} </td>
              </ng-container>


              <ng-container matColumnDef="NIF">
                <th mat-header-cell *matHeaderCellDef> NIF </th>
                <td mat-cell class="text-left" *matCellDef="let element"> {{element.NIF}} </td>
              </ng-container>


              <ng-container matColumnDef="IDEncarregado">
                <th mat-header-cell *matHeaderCellDef> ID Encarregado de Educação </th>
                <td mat-cell class="text-left" *matCellDef="let element"> {{element.IDEncarregado}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div> <!--fim das colunas-->

</div>

